<div class="d-flex overflow-x-auto h-100" cdkDropList cdkDropListOrientation="horizontal"
    (cdkDropListDropped)="drop($event)">
    @for (movie of movies; track movie) {
    <div class="p-1" cdkDrag>
        <app-screen>
            <img class="img-fluid" mat-card-image [src]="movie.poster" [alt]="movie.title">
        </app-screen>
        <img *cdkDragPreview [src]="movie.poster" [alt]="movie.title">
        <app-screen *cdkDragPlaceholder style="filter: blur(5px);">
            <img class="img-fluid" mat-card-image [src]="movie.poster" [alt]="movie.title">
        </app-screen>
    </div>
    }
</div>