/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/purple-green.css";

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.w-25 {
    width: 25% !important;
}

.w-50 {
    width: 50% !important;
}

.w-100 {
    width: 100% !important;
}

.dvw-100 {
    width: 100dvw !important;
}

.h-25 {
    height: 25% !important;
}

.dvh-25 {
    height: 25dvh !important;
}

.dvh-75 {
    height: 75dvh !important;
}

.h-100 {
    height: 100% !important;
}

.object-fit-cover {
    object-fit: cover !important;
}

.border {
    border: 1px solid #dee2e6 !important;
}

.rounded {
    border-radius: .25rem !important;
}

.center {
    display: grid !important;
    place-items: center !important;
}

.border-style-dotted {
    border-style: dotted !important;
}

.d-flex {
    display: flex !important;
}

.img-fluid {
    max-width: 100% !important;
    height: auto !important;
}

.text-center {
    text-align: center !important;
}

.d-flex {
    display: flex !important;
}

.justify-content-center {
    justify-content: center !important;
}

.align-items-center {
    align-items: center !important;
}

.p-3 {
    padding: 1rem !important;
}

.p-5 {
    padding: 3rem !important;
}

.m-3 {
    margin: 1rem !important;
}

.m-5 {
    margin: 3rem !important;
}

.bg-color-black {
    background-color: black;
}

.overflow-x-auto {
    overflow-x: auto;
}

.white-space-nowrap {
    white-space: nowrap;
}